<div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg py-4 pl-2 mb-4">
    <div class="flex flex-row">
        <a href="#" class="basis-1/12">
        <% if comment.user.present? %>
            <%= image_tag user_avatar(comment.user), class: "w-10 h-10 rounded-full" %>
        <% else %>
            <%= image_tag user_avatar(comment.user), class: "w-10 h-10 rounded-full" %>
        <% end %>
        </a>
        <div class="basis-3/12">
            <% if comment.user == @article.user %>
                <span class="bg-indigo-500 text-sm text-white py-0.5 px-0.5 rounded">
                    <span class="text-red-600 font-bold "><%= t('comment.author') %></span> | <%= comment.user_name %>
                </span>
            <% elsif comment.user.present? %>
                <span class="bg-indigo-500 text-sm text-white py-0.5 px-0.5 rounded">
                    <span class="text-green-300 font-bold"><%= t('comment.authorized') %></span> | <%= comment.user_name %>
                </span>
            <% else %>
                <div class=""><%= comment.user_name %></div>
            <% end %>
            <div class="">
                <%= l comment.created_at, format: :short %>
            </div>
        </div>
        <div class="basis-8/12"><%= comment.body %></div>
    </div>
</div>