<%= form_for(article, html: { class: "contents"}) do |form| %>
  <%= render partial: "partials/form_errors", locals: { model: article } %>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :event %>
    <%= form.select :event_id, events_for_select, {}, {class: 'form-select appearance-none
      block
      w-full
      px-3
      py-1.5
      text-base
      font-normal
      text-gray-700
      bg-white bg-clip-padding bg-no-repeat
      border border-solid border-gray-300
      rounded
      transition
      ease-in-out
      m-0
      focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none'} %>
  </div>

  <div class="my-5">
    <%= form.label :body %>
    <%= form.rich_text_area :body, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :picture %>
    <%= form.text_field :picture, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

    <%= form.submit t('article.create_button'), class: "cursor-pointer transition duration-300 text-center mt-4 bg-indigo-500 
                              hover:bg-indigo-400 text-white font-bold py-3 px-4 border-b-4 
                              border-indigo-700 hover:border-indigo-500 rounded" %>
<% end %>
