
<div id="profile" class="w-full lg:w-3/5 rounded-lg lg:rounded-l-lg lg:rounded-r-none shadow-2xl bg-white opacity-75 mx-6 lg:mx-0">
	<div class="p-4 md:p-12 text-center lg:text-left">
		<div class="block lg:hidden rounded-full shadow-xl mx-auto -mt-16 h-48 w-48 bg-cover bg-center" style="background-image: url('https://source.unsplash.com/MP0IUfwrn0A')"></div>
		
		<h1 class="text-3xl font-bold pt-8 lg:pt-0"><%= @user.name %></h1>
		<div class="mx-auto lg:mx-0 w-4/5 pt-3 border-b-2 border-indigo-500 opacity-25"></div>
		<p class="pt-4 text-base font-bold flex items-center justify-center lg:justify-start">
			<%= @user.email %>
		</p>
		<p class="pt-8 text-sm"><%= @user.about %></p>

		<div class="pt-12 pb-8">
			<% if @user == current_user %>
				<%= link_to "Edit profile", edit_user_path(@user), class: 'transition cursor-pointer duration-300 text-center mt-4 bg-indigo-500 hover:bg-indigo-400 text-white font-bold py-2 px-4 border-b-4 border-indigo-700 hover:border-indigo-500 rounded' %>
				<%= link_to "Change my password", edit_user_registration_path(@user), class: 'transition cursor-pointer duration-300 text-center mt-4 bg-indigo-500 hover:bg-indigo-400 text-white font-bold py-2 px-4 border-b-4 border-indigo-700 hover:border-indigo-500 rounded' %>
			<% else %>
				<%= link_to "Back to events", root_path, class: 'transition cursor-pointer duration-300 text-center mt-4 bg-indigo-500 hover:bg-indigo-400 text-white font-bold py-2 px-4 border-b-4 border-indigo-700 hover:border-indigo-500 rounded' %>
			<% end %>
		</div>
	</div>

</div>
	<div class="w-full lg:w-2/5">
		<%= image_tag user_avatar(@user), class: "rounded-none lg:rounded-lg shadow-2xl hidden lg:block" %>
	</div>


<section id="user_events_owner" class="w-full mt-20 lg:text-center">
	<p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">
		<% if @user.events.present? %>
			User events owner
		<% else %>
			This user did not created events...
		<% end %>
	</p>
  <div class="grid gap-4 grid-rows-2 mt-10 grid-cols-1 sm:grid-cols-2">
    <%= render partial: "events/event", collection: @user.events %>
  </div>
</section>

<section id="user_articles_owner" class="w-full mt-5 lg:text-center">
	<p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">
		<% if @user.articles.present? %>
			User articles owner
		<% else %>
			This user did not created articles...
		<% end %>
	</p>
  <div class="grid gap-4 grid-rows-2 mt-10 grid-cols-1 sm:grid-cols-2">
    <%= render partial: "articles/article", collection: @user.articles %>
  </div>
</section>