<!DOCTYPE html>
<html>
  <head>
    <title>EventBoard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <nav class="bg-white shadow-lg">
			<div class="max-w-6xl mx-auto px-4">
				<div class="flex justify-between">
					<div class="flex space-x-7">
						<div>
							<a href="<%= root_path %>" class="flex items-center py-4 px-2">
								<img src="https://tailwindui.com/img/logos/workflow-mark-indigo-500.svg" alt="Logo" class="h-8 w-8 mr-2">
								<span class="font-semibold text-gray-500 text-lg">Event board</span>
							</a>
						</div>
						<!-- Primary Navbar items -->
						<div class="hidden md:flex items-center space-x-1">
							<a href="" class="py-2 px-2 text-indigo-500 border-b-4 border-indigo-500 font-semibold ">Home</a>
							<a href="" class="py-4 px-2 text-gray-500 font-semibold hover:text-indigo-500 transition duration-300">Services</a>
							<a href="" class="py-4 px-2 text-gray-500 font-semibold hover:text-indigo-500 transition duration-300">About</a>
							<a href="" class="py-4 px-2 text-gray-500 font-semibold hover:text-indigo-500 transition duration-300">Contact Us</a>
						</div>
					</div>
					<!-- Secondary Navbar items -->
					<div class="hidden md:flex items-center space-x-3 ">
						<% if user_signed_in? %>
							<%= link_to "Profile", current_user, 
																		class: 'transition duration-300 text-center mt-4 bg-indigo-500 
																						hover:bg-indigo-400 text-white font-bold py-1 px-4 border-b-4 
																						border-indigo-700 hover:border-indigo-500 rounded' %>
							<%= link_to "Exit", destroy_user_session_path, :method => :delete, 
																		class: 'transition duration-300 text-center mt-4 bg-red-500 
																						hover:bg-red-400 text-white font-bold py-1 px-4 border-b-4 
																						border-red-700 hover:border-red-500 rounded' %>
						<% else %>
							<%= link_to "Log in", new_user_session_path, 
																		class: 'transition duration-300 text-center mt-4 hover:bg-indigo-500 
																		 				text font-bold py-1 px-4 border-b-4 hover:border-indigo-700 
																						hover:text-white rounded' %>
							<%= link_to "Sign Up", new_user_registration_path, 
																		class: 'transition duration-300 text-center mt-4 bg-indigo-500 
																						hover:bg-indigo-400 text-white font-bold py-1 px-4 border-b-4 
																						border-indigo-700 hover:border-indigo-500 rounded' %>
						<% end %>
					</div>
					<!-- Mobile menu button -->
					<div class="md:hidden flex items-center">
						<button class="outline-none mobile-menu-button">
						<svg class=" w-6 h-6 text-gray-500 hover:text-indigo-500 "
							x-show="!showMenu"
							fill="none"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							viewBox="0 0 24 24"
							stroke="currentColor"
						>
							<path d="M4 6h16M4 12h16M4 18h16"></path>
						</svg>
					</button>
					</div>
				</div>
			</div>
			<!-- mobile menu -->
			<div class="hidden mobile-menu">
				<ul class="">
					<li class="active"><a href="index.html" class="block text-sm px-2 py-4 text-white bg-indigo-500 font-semibold">Home</a></li>
					<li><a href="#services" class="block text-sm px-2 py-4 hover:bg-indigo-500 transition duration-300">Services</a></li>
					<li><a href="#about" class="block text-sm px-2 py-4 hover:bg-indigo-500 transition duration-300">About</a></li>
					<li><a href="#contact" class="block text-sm px-2 py-4 hover:bg-indigo-500 transition duration-300">Contact Us</a></li>
				</ul>
			</div>
			<script>
				const btn = document.querySelector("button.mobile-menu-button");
				const menu = document.querySelector(".mobile-menu");

				btn.addEventListener("click", () => {
					menu.classList.toggle("hidden");
				});
			</script>
		</nav>
						<% flash.each do |type, msg| %>
					<div role="alert">
						<% if type == "notice" %>
							<div class="bg-indigo-900 text-center py-4 lg:px-4">
								<div class="p-2 bg-indigo-800 items-center text-indigo-100 leading-none lg:rounded-full flex lg:inline-flex" role="alert">
									<span class="flex rounded-full bg-indigo-500 uppercase px-2 py-1 text-xs font-bold mr-3">Success</span>
									<span class="font-semibold mr-2 text-left flex-auto"><p><%= msg %></p></span>
								</div>
							</div>
						<% elsif type == "alert" %>
							<div class="w-full bg-red-900 text-center py-4 lg:px-4">
								<div class="p-2 bg-red-800 items-center text-red-100 leading-none lg:rounded-full flex lg:inline-flex" role="alert">
									<span class="flex rounded-full bg-red-500 uppercase px-2 py-1 text-xs font-bold mr-3">Error</span>
									<span class="font-semibold mr-2 text-left flex-auto"><p><%= msg %></p></span>
								</div>
							</div>
						<% else %>
							<div class='alert alert-<%= "#{type}" %>'>
						<% end %>
					</div>
				<% end %>
    <main class="items-start max-w-6xl px-5 flex h-auto lg:h-screen flex-wrap mx-auto lg:my-12">

      <%= yield %>
    </main>
  </body>
</html>
